<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section class="container">
      <nav>
        <%= link_to 'Projects', projects_path %>
        <%= link_to 'Tickets', tickets_path %>
        <%= link_to 'Tags', tags_path %>

        <span class='login-nav'>
          <% if logged_in? %>
            Signed in as <%= current_user.username %>    
            <%= link_to 'Logout', logout_path %>
          <% else %>
            <%= link_to 'Login', login_path %>
            or
            <%= link_to 'Sign up', register_path %>
          <% end %>
        </span>
      </nav>

      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>


      <%= yield %>
    </section>
  </body>
</html>
